@charset "UTF-8";

.top__bg {
  background-image: url(..https://morisawa25.github.io/animal-gallery.site/top-video-still.jpg);
}

.tabs__content section {
  display: block;
}

.animated {
  opacity: 1;
}
